/dts-v1/;
#include "mt7621.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	compatible = "adslr,g7", "mediatek,mt7621-soc";
	model = "ADSLR G7";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
	};

	aliases {
		led-boot = &led_power;
		led-failsafe = &led_power;
		led-running = &led_power;
		led-upgrade = &led_boot;
	};

	keys {
		compatible = "gpio-keys";
		reset {
			label = "reset";
			gpios = <&gpio 18 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	leds {
		compatible = "gpio-leds";

		led_power: power {
			label = "green:power";
			gpios = <&gpio 24 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led_boot: boot {
			label = "red:boot";
			gpios = <&gpio 23 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led_upgrade: upgrade {
			label = "blue:upgrade";
			gpios = <&gpio 15 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&spi0 {
	status = "okay";
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x000000 0x030000>;
				read-only;
			};
			partition@30000 {
				label = "u-boot-env";
				reg = <0x030000 0x010000>;
			};
			factory: partition@40000 {
				label = "factory";
				reg = <0x040000 0x010000>;
				read-only;
			};
			partition@50000 {
				compatible = "denx,uimage";
				label = "firmware";
				reg = <0x050000 0x1FB0000>;
			};
		};
	};
};


&pcie {
	status = "okay";
};

&pcie0 {
	mt76@0,0 {
		reg = <0x0000 0 0 0 0>;
		mediatek,mtd-eeprom = <&factory 0x0>;
		ieee80211-freq-limit = <2400000 2500000>;
	};
};

&pcie1 {
	mt76@0,0 {
		reg = <0x0000 0 0 0 0>;
		mediatek,mtd-eeprom = <&factory 0x8000>;
		ieee80211-freq-limit = <5000000 6000000>;
	};
};

&ethernet {
	mtd-mac-address = <&factory 0xe000>;
};

&gsw {
	mediatek,portmap = <0x11>;
};

&xhci {
	status = "okay";
};
